.c-map-content__controls {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.c-map-content__control-button {
  background-color: pink;
  border: 1px solid hotpink;
}
